<%= live_component(SearchFormComponent, id: :form, lang: @lang, query: @query, suggestions: @suggestions) %>

<p class="alert alert-info" role="alert"
  phx-click="lv:clear-flash"
  phx-value-key="info"><%= live_flash(@flash, :info) %></p>

<p class="alert alert-danger" role="alert"
  phx-click="lv:clear-flash"
  phx-value-key="error"><%= live_flash(@flash, :error) %></p>

<%= for dfn <- @definitions do %>
  <%= live_component(CardComponent, dfn: dfn, lang: @lang) %>
<% end %>
