<.live_component
  module={SearchFormComponent}
  id={:search_form}
  lang={@lang}
  query={@query}
  suggestions={@suggestions}
  in_focus={@in_focus}
/>

<SerpComponents.definition :for={dfn <- @definitions} dfn={dfn} target_lang={@lang} />
