<h4>Contact</h4>

<p>
  Lexin Mobi is an open-source project, and you can find its code on <a
    href="https://github.com/cr0t/lexin"
    rel="noopener"
    target="_blank"
  >GitHub</a>. You are welcome to join the development process. You can also use this link to submit feature requests or issues, or to contact authors of this app.
</p>

<p>
  Go back to <a href={~p"/"}>home page</a>.
</p>
