<h4>Cookies</h4>

<p>
  Cookies are small files that websites put on your computer when you visit them.
</p>

<p>
  <strong>We only use cookies that we can control.</strong>
  We only use cookies that are needed to keep your session on our website running smoothly. Furthermore, we don't use cookies from other companies for tracking things like how people use our website.
</p>

<p>
  Go back to <a href={~p"/"}>home page</a>.
</p>
