@import 'reset.css';
@import 'colors.css';
@import 'flashes.css';
@import 'search_form.css';

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: system-ui, sans-serif;
}

a {
  color: var(--color-link);
  text-decoration: underline;
  text-underline-offset: 0.15rem;

  &:hover {
    color: var(--color-link-hover);
  }
}

h4 {
  font-size: 1.15rem;
  font-weight: 600;
}

h4,
p,
table {
  margin-bottom: 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 56rem;
}

#top {
  margin: 1rem 0;
}

#main {
  flex-grow: 1;
}

#footer {
  font-size: 0.85rem;
  padding: 1.5rem 0;
  text-align: center;

  #bottom-nav {
    display: flex;
    justify-content: space-evenly;

    li {
      list-style: none;
    }
  }

  #sponsor-line {
    color: var(--color-text-dimmed);
    margin-top: 0.5rem;

    a {
      border-bottom: 1px var(--color-text-dimmed) dashed;
      color: var(--color-text-dimmed);
      text-decoration: none;
    }
  }
}

#logo {
  display: flex;

  &:hover {
    filter: grayscale(1);
  }
}

.listen {
  color: var(--color-text-dimmed);
  font-size: 0.85rem;
  font-style: italic;
  opacity: 0.7;
  text-decoration: underline dotted var(--color-text-dimmed);
  text-underline-offset: 0.15rem;
  transition: opacity 50ms;
  vertical-align: text-bottom;

  &:hover {
    color: var(--color-text-dimmed);
    cursor: pointer;
    opacity: 1;
  }
}

/* UTILS */

.dimmed {
  color: var(--color-text-dimmed);
}

.mt-150 {
  margin-top: 1.5rem;
}

.mt-75 {
  margin-top: 0.75rem;
}

.pl-150 {
  padding-left: 1.5rem;
}
