@import 'reset.css';
@import 'search_form.css';

body {
  background-color: white;
  color: #020617;
  font-family: sans-serif;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

a {
  color: #1e4ed8;
  text-decoration: underline;
  text-underline-offset: .15rem;

  &:hover {
    color: #1e40af;
  }
}

h4 {
  font-size: 1.15rem;
  font-weight: 600;
}

h4,
p,
table {
  margin-bottom: 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

#page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  max-width: 56rem;
}

#top {
  margin: 2rem 0;
}

#main {
  flex-grow: 1;
}

#footer {
  font-size: .85rem;
  margin: 1.5rem 0;
  text-align: center;

  #bottom-nav {
    display: flex;
    justify-content: space-evenly;

    li {
      list-style: none;
    }
  }

  #sponsor-line {
    color: #9ca3af;
    margin-top: .5rem;

    a {
      border-bottom: 1px #9ca3af dashed;
      color: #9ca3af;
      text-decoration: none;
    }
  }
}

#logo {
  display: flex;

  &:hover {
    filter: grayscale(1);
  }
}

.dimmed {
  color: #64748b;
}

.font-bold {
  font-weight: 600;
}

.pl-6 {
  padding-left: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: .75rem;
}
