@media (prefers-color-scheme: dark) {
  body {
    background-color: #1b1b1b;
    color: #ccc;
  }

  img {
    filter: brightness(.8) contrast(1.2);
  }

  a {
    color: #03a9f4;
  }

  .logo {
    filter: grayscale(50%);
  }

  .logo-text {
    color: #ccc;
  }

  .footer-version {
    color: rgba(255, 255, 255, .2);
  }

  .footer-version a {
    color: rgba(255, 255, 255, .2);
    border-bottom: 1px dashed rgba(255, 255, 255, .1)
  }

  #form-lang {
    border-color: #333;
  }

  #form-query_field {
    background-color: #232323;
    border-color: #323232;
  }

  #form-query_field:focus {
    border-color: #369;
  }

  #form-query_suggestions {
    background-color: #252525;
    border: 0.1rem solid #369;
  }

  #form-submit_button {
    background-color: #369;
    border: 0.1rem solid #369;
  }

  .serp_dimmed {
    color: rgba(255, 255, 255, .5)
  }

  .serp_translation-synonyms {
    color: rgba(255, 255, 255, .5);
  }
}
