/* --- Search Form --- */

#dfn_form {
  margin: 2rem 0 4rem 0;
}

#dfn_form-header {
  display: flex;
  justify-content: space-between;
}

#dfn_form-lang {
}

#dfn_form-search_field {
  display: flex;
}

#dfn_form-query{
  border-right: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  font-size: 16px;
  margin-bottom: 0;
  vertical-align: bottom;
}

#dfn_form-submit {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin: 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* --- Serach Results --- */

.dfn {
  margin-bottom: 4rem;
}

.dfn_content {
  padding-left: 2rem;
}

.dfn_inflections {
  color: rgba(0, 0, 0, .5)
}

.dfn_translation {
  font-weight: bold;
}

.dfn_translation-synonyms {
  color: rgba(0, 0, 0, .5);
  font-weight: normal;
}

.dfn_illustrations, .dfn_examples, .dfn_idioms, .dfn_compounds {
  margin-top: 2rem;
}

.dfn_list {
  margin-left: 2rem;
}

.dfn_list li {
  margin-bottom: 0;
  list-style: disc inside;
}
