.footer-wrapper {
  font-size: .85em;
  margin-bottom: 2rem !important;
}

.footer-nav {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

.footer-nav li {
  list-style: none;
  margin: 0 0 1rem 0;
}

.footer-version {
  color: rgba(0, 0, 0, .4);
  text-align: center;
}

.footer-version a {
  color: rgba(0, 0, 0, .4);
  border-bottom: 1px dashed rgba(0, 0, 0, .1)
}
