#form_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

#form-lang {
  position: relative;
  top: -1px;
  margin-bottom: 0;
}

#form-search_block {
  display: flex;
}

#form-query_wrapper {
  position: relative;
  width: 100%;
}

#form-query_reset {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 30%;
  cursor: pointer;
  display: block;
  font-weight: bold;
  height: 38px;
  line-height: 36px;
  opacity: .25;
  position: absolute;
  right: 5px;
  text-align: center;
  top: 0;
  transition: opacity 100ms;
  transform: rotate(45deg);
  user-select: none;
  width: 38px;
}

#form-query_reset:hover {
  opacity: .75;
}

#form-query_field {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  font-size: 16px;
  margin-bottom: 0;
}

#form-query_field.has-suggestions {
  border-bottom-left-radius: 0;
}

#form-query_suggestions {
  background-color: #fff;
  border: 0.1rem solid #0069d9;
  border-bottom-left-radius: .4rem;
  border-bottom-right-radius: .4rem;
  border-top: none;
  margin: 0;
  padding: 1rem 1rem;
  position: absolute;
  width: 100%;
}

#form-query_suggestions > li {
  list-style: none;
  margin-bottom: 1.5rem;
}

#form-query_suggestions > li:last-child {
  margin-bottom: 0;
}

#form-submit_button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin: 0;
  padding-left: 2rem;
  padding-right: 2rem;
}
