body {
  margin: 0;
  padding: 0;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-body {
  flex-grow: 1;
}

.layout-footer {
  flex-shrink: 0;
  margin: 2rem auto 2rem auto;
  text-align: center;
}
