.page_content {
  margin-top: 4rem;
}

.page_content .about-screenshots {
  border: none;
}

.page_content .about-screenshots td {
  border-bottom: none;
  text-align: center;
}

.page_content .about-screenshots td a {
  cursor: zoom-in;
}

.page_content .about-screenshots img {
  border: 3px solid rgba(0, 0, 0, .05);
  transition: all .2s;
}

.page_content .about-screenshots td img:hover {
  transform: scale(1.1);
}
