#search_form-container {
  display: flex;
  position: relative;
}

#search_form-wrapper_lang {
  position: absolute;
  right: 0;
  top: -4rem;
}

#search_form-wrapper_query {
  position: relative;
  width: 100%;
}

#search_form-lang {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
  background-position: right .5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  border-radius: .25rem;
  border: 1px solid #e2e8f0;
  padding: .5rem 2rem .5rem .75rem;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

#search_form-query_reset {
  align-items: center;
  aspect-ratio: 1 / 1;
  color: #94a3b8;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  user-select: none;

  &:hover {
    color: #1e293b;
    cursor: pointer;
  }
}

#search_form-query_input {
  border-radius: .25rem;
  border: 1px solid #1d4ed8;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: .5rem .75rem;
  width: 100%;

  &:focus {
    outline: none;
  }

  &.has-suggestions {
    border-bottom-left-radius: 0;
  }
}

#search_form-query_suggestions {
  background-color: white;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  border: 1px solid #1d4ed8;
  border-top: none;
  filter: drop-shadow(.1rem .1rem .1rem rgba(29, 78, 216, .2));
  padding: .5rem .75rem;
  position: absolute;
  width: 100%;

  li {
    list-style: none;
    margin-bottom: .5rem;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
    }
  }
}

#search_form-submit {
  background-color: #1d4ed8;
  border: none;
  border-bottom-right-radius: .25rem;
  border-top-right-radius: .25rem;
  color: white;
  font-size: .75rem;
  font-weight: 600;
  padding: 0 2rem;
  text-transform: uppercase;
  z-index: 1;

  &:hover {
    cursor: pointer;
    filter: brightness(1.25);
  }
}
