<% # Disable gray highlight on tap for reset (cross) button in search field. See more here:
# https://css-tricks.com/snippets/css/remove-gray-highlight-when-tapping-links-in-mobile-safari/ %>
<script>
  document.addEventListener('touchstart', function(){}, true)
</script>
