<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={get_csrf_token()} />

    <.live_title><%= assigns[:page_title] || "Lexin Mobi" %></.live_title>
    <meta
      name="description"
      content="Lexin Mobi is a combination of Swedish vocabulary (lexicon) and dictionary that have been developed for use in primarily immigrant education. The encyclopedia is available both as an online search service and as mobile application."
    />

    <link rel="manifest" href={~p"/manifest.webmanifest"} />

    <link rel="icon" href={~p"/favicon.ico"} />
    <link rel="icon" href={~p"/images/icon.svg"} type="image/svg+xml" sizes="any" />

    <link rel="apple-touch-icon" href={~p"/images/icon-apple-touch.png"} />
    <!--<link rel="apple-touch-startup-image" href="/launch.png"/>-->
    <meta name="apple-mobile-web-app-title" content="Lexin" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta name="theme-color" content="white" />

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
  </head>

  <body>
    <div class="layout-wrapper">
      <div class="layout-body">
        <%= @inner_content %>
      </div>

      <div class="layout-footer">
        <div class="footer-wrapper container">
          <ul class="footer-nav">
            <li><a href={~p"/about"}>About</a></li>
            <li><a href={~p"/contact"}>Contacts</a></li>
            <li><a href={~p"/install"}>Install</a></li>
          </ul>

          <div class="footer-version" title={"Lexin Mobi #{app_version()}"}>
            Lexin Mobi sponsored by <a
              href="https://0x.se"
              title="Swedish technology consultancy agency"
              target="_blank"
              rel="noopener"
              phx-no-format
            >0+X</a>
          </div>
        </div>
      </div>
    </div>

    <._service_worker_loader />

    <._ios_gray_highlight />

    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </body>
</html>
